.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    z-index: 1000;
    /* ensure it's above other content */
    display: flex;
    justify-content: center;
    /* center content horizontally */
    align-items: center;
    /* center content vertically */
}

.input {
    width: 80%;
    /* adjust width as necessary */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.heading {
    margin-top: 50px;
}

.todo-list {
    padding: 0;
    margin-top: 25px;
    /* Adjust margin-top to accommodate the fixed header */
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 5px;
}

.edit-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-mode input {
    flex: 1;
    margin-right: 10px;
}

@media (max-width: 480px) {
    .todo-item {
        flex-direction: column;
        align-items: stretch;
    }

    .button-container {
        margin-top: 5px;
    }
}

.completed {
    text-decoration: line-through;
}

.save-button {
    text-decoration: none;
    /* Remove line-through decoration */
}

.completed .save-button {
    text-decoration: none;
    /* Ensure no line-through for completed tasks section */
}

.form {
    display: flex;
}